.services {
    &__content {
        overflow: hidden;
    }
    &__content-inner {
        padding: 120px 0 180px;
        position: relative;
        
    }
    &-content--item {
        &:not(:last-child) {
            margin-bottom: 120px;
        }
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item-info {
        max-width: 575px;
    }
    &__info-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        color: #1E212C;
    }
    &__info-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #787A80;
        padding: 24px 0 48px;
    }
    &-content--bg {
        position: absolute;
        width: 791px;
        height: 637px;
        z-index: -1;
        opacity: .3;
    }
    &-content--bg--right {
        top: 716px;
        right: -740px;
        transform: rotate(-58deg);
    }
    &-content--bg--left {
        bottom: -83px;
        left: -843px;
        transform: rotate(33deg);
    }
}

.btn-3 {
    background-color: transparent;
    color: #FF5A30;
    &:hover {
        background-color: #FF5A30;
        color: #fff;
    }
}