<div class="services__hero services__hero-design">
  <div class="container">
      <div class="services__hero-inner">
          <div class="services__hero-breadcrumbs">
              <p>Homepage</p><span>/</span><p/>About Us</p><span>/</span>Available Positions
          </div>
          <div class="services__hero-txtcontent">
              <h1 class="services__hero-title">AVAILABLE POSITIONS</h1>
              <p class="services__hero-text">Build your career with Createx Construction Bureau.</p>
          </div>
          <img class="aboutus-target__hero-img" src="../img/aboutus/bg.png" alt="img">
      </div>
  </div>
</div>
