<div class="createx-values__title">Employee benefits</div>
<div class="createx-values__text">There’s always room for talent.</div>
<div class="createx-values__content">
    <div class="createx-values__icon-box">
        <svg width="48" height="48">
            <use xlink:href="img/sprite.svg#brain"></use>
        </svg>
        <div class="createx-values__icon-box__title">Training</div>
        <div class="createx-values__icon-box__text">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</div>
    </div>
    <hr class="vertical">
    <div class="createx-values__icon-box">
        <svg width="48" height="48">
            <use xlink:href="img/sprite.svg#success"></use>
        </svg>
        <div class="createx-values__icon-box__title">Professional Growth</div>
        <div class="createx-values__icon-box__text">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.</div>
    </div>
    <hr class="vertical">
    <div class="createx-values__icon-box">
        <svg width="48" height="48">
            <use xlink:href="img/sprite.svg#budget"></use>
        </svg>
        <div class="createx-values__icon-box__title">Growing Salary</div>
        <div class="createx-values__icon-box__text">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.</div>
    </div>
</div>

