<section class="vacancies">
  <div class="container">
    <div class="vacancies__inner">
      <div class="vacancies__block">
        <div class="vacancies__item">
          <div class="vacancies__item-content">
            <div class="vacancies__item-content-city">
              <p>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite.svg#outline"></use>
                </svg>
                New York
              </p>
              <hr>
              <p>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite.svg#Clock"></use>
                </svg>
                Full Time
              </p>
            </div>
            <h3 class="vacancies__item-content-title">Heavy Equipment Operator</h3>
          </div>
          <button class="btn__regular btn__regular-transparent">Apply now</button>
        </div>
        <div class="vacancies__item">
          <div class="vacancies__item-content">
            <div class="vacancies__item-content-city">
              <p>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite.svg#outline"></use>
                </svg>
                San Francisco
              </p>
              <hr>
              <p>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite.svg#Clock"></use>
                </svg>
                Full Time
              </p>
            </div>
            <h3 class="vacancies__item-content-title">Financial Compliance Analyst</h3>
          </div>
          <button class="btn__regular btn__regular-transparent">Apply now</button>
        </div>
        <div class="vacancies__item">
          <div class="vacancies__item-content">
            <div class="vacancies__item-content-city">
              <p>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite.svg#outline"></use>
                </svg>
                New Jersey
              </p>
              <hr>
              <p>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite.svg#Clock"></use>
                </svg>
                Full Time
              </p>
            </div>
            <h3 class="vacancies__item-content-title">Project Manager - Buildings</h3>
          </div>
          <button class="btn__regular btn__regular-transparent">Apply now</button>
        </div>
        <div class="vacancies__item">
          <div class="vacancies__item-content">
            <div class="vacancies__item-content-city">
              <p>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite.svg#outline"></use>
                </svg>
                New York
              </p>
              <hr>
              <p>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite.svg#Clock"></use>
                </svg>
                Part Time
              </p>
            </div>
            <h3 class="vacancies__item-content-title">Environment Specialist</h3>
          </div>
          <button class="btn__regular btn__regular-transparent">Apply now</button>
        </div>
        <div class="vacancies__item">
          <div class="vacancies__item-content">
            <div class="vacancies__item-content-city">
              <p>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite.svg#outline"></use>
                </svg>
                New York
              </p>
              <hr>
              <p>
                <svg width="16" height="16">
                  <use xlink:href="img/sprite.svg#Clock"></use>
                </svg>
                Full Time
              </p>
            </div>
            <h3 class="vacancies__item-content-title">Accountant</h3>
          </div>
          <button class="btn__regular btn__regular-transparent">Apply now</button>
        </div>
      </div>
      <div class="vacancies__find">
        <h2 class="vacancies__find-title">Didn’t find what you were looking for?</h2>
        <span class="vacancies__find-text">Send your CV or subscribe to our newsletter to receive information about new vacancies.</span>
        <div class="vacancies__find-buttons">
          <button class="btn__large btn__large-transparent btn__large-long">subscribe</button>
          <button class="btn__large btn__large-long--long">send cv</button>
        </div>
      </div>
    </div>
    <div class="benefits__inner">
      @include('aboutus-target-benefits.html')
    </div>
  </div>
</section>
