<div class="services__hero services__hero-design">
  <div class="container">
      <div class="services__hero-inner">
          <div class="services__hero-breadcrumbs">
              <p>Homepage</p><span>/</span>About Us
          </div>
          <div class="services__hero-txtcontent">
              <h1 class="services__hero-title">About us</h1>
              <p class="services__hero-text">Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service.</p>
          </div>
          <img class="services__hero-design-img aboutus__hero-img1" src="../img/services/background-services-1.jpg" alt="img">
          <img class="aboutus__hero-img2" src="../img/services/background-aboutus.png" alt="img">
      </div>
  </div>
</div>
