<div class="createx-values createx-values--dark">
    <div class="container">
        <div class="createx-values__inner">
            <div class="createx-values__title createx-values__title--light">Our benefits</div>
            <div class="createx-values__text createx-values__text--light">Our mission is to set the highest standards for construction
                sphere.</div>
            <div class="createx-values__content">
                <div class="createx-values__icon-box">
                    <svg width="48" height="48">
                        <use xlink:href="img/sprite.svg#terms"></use>
                    </svg>
                    <div class="createx-values__icon-box__title createx-values__icon-box__title--light">Fixed Terms & Cost</div>
                    <div class="createx-values__icon-box__text createx-values__icon-box__text--light">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</div>
                </div>
                <hr class="vertical">
                <div class="createx-values__icon-box">
                    <svg width="48" height="48">
                        <use xlink:href="img/sprite.svg#workers"></use>
                    </svg>
                    <div class="createx-values__icon-box__title createx-values__icon-box__title--light">Qualified Workers</div>
                    <div class="createx-values__icon-box__text createx-values__icon-box__text--light">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.</div>
                </div>
                <hr class="vertical">
                <div class="createx-values__icon-box">
                    <svg width="48" height="48">
                        <use xlink:href="img/sprite.svg#camera"></use>
                    </svg>
                    <div class="createx-values__icon-box__title createx-values__icon-box__title--light">Supervision & Control</div>
                    <div class="createx-values__icon-box__text createx-values__icon-box__text--light">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.</div>
                </div>
            </div>
            <button class="btn__large btn__large--long">Discuss a project</button>
        </div>
    </div>
</div>