<div class="createx-values">
    <div class="container">
        <div class="createx-values__inner">
            <div class="createx-values__title">Our core values</div>
            <div class="createx-values__text">Our mission is to set the highest standards for construction
                sphere.</div>
            <div class="createx-values__content">
                <div class="createx-values__icon-box">
                    <svg width="48" height="48">
                        <use xlink:href="img/sprite.svg#quality"></use>
                    </svg>
                    <div class="createx-values__icon-box__title">Quality</div>
                    <div class="createx-values__icon-box__text">Culpa nostrud commodo ea consequat aliquip
                        reprehenderit. Veniam velit nostrud aliquip sunt.</div>
                </div>
                <hr class="vertical">
                <div class="createx-values__icon-box">
                    <svg width="48" height="48">
                        <use xlink:href="img/sprite.svg#safety"></use>
                    </svg>
                    <div class="createx-values__icon-box__title">Safety</div>
                    <div class="createx-values__icon-box__text">Anim reprehenderit sint voluptate exercitation
                        adipisicing laborum adipisicing. Minim empor est ea.</div>
                </div>
                <hr class="vertical">
                <div class="createx-values__icon-box">
                    <svg width="48" height="48">
                        <use xlink:href="img/sprite.svg#comfort"></use>
                    </svg>
                    <div class="createx-values__icon-box__title">Comfort</div>
                    <div class="createx-values__icon-box__text">Sit veniam aute dolore adipisicing nulla sit
                        culpa. Minim mollit voluptate ullamco proident ea ad.</div>
                </div>
            </div>
        </div>
    </div>
</div>