<form action="#" class="question">
    <div class="question__inner">
        <div class="question__title">Want to know more? Ask us a question:</div>
        <div class="question__content">
            <label class="question__form">
                <span class="question__form-lable">Name</span>
                <input class="question__input" placeholder="Your name" type="text">
            </label>
            <label class="question__form">
                <span class="question__form-lable">Phone</span>
                <input class="question__input" placeholder="Your phone" type="tel">
            </label>
            <label class="question__form">
                <span class="question__form-lable">Message</span>
                <input class="question__input question__input-long" placeholder="Your message" type="text">
            </label>
            <button class="btn btn-1" type="submit">send</button>
        </div>
    </div>
</form>