<div class="decisions">
  <div class="container">
    <div class="decisions__inner">
      <img class="decisions__img" src="../img/decisions/image.jpg" alt="img">
      <div class="decisions__content">
        <div class="decisions__content-title">Constructive decisions</div>
        <div class="decisions__content-points">
          <div class="decisions__points-item">
            <svg width="20" height="20">
              <use xlink:href="img/sprite.svg#point"></use>
            </svg>
            <span>Vitae ultrices ornare eu sed in est quisque duis id.</span>
          </div>
          <div class="decisions__points-item">
            <svg width="20" height="20">
              <use xlink:href="img/sprite.svg#point"></use>
            </svg>
            <span>A fermentum in morbi pretium aliquam adipiscing donec tempus.</span>
          </div>
          <div class="decisions__points-item">
            <svg width="20" height="20">
              <use xlink:href="img/sprite.svg#point"></use>
            </svg>
            <span>Mauris odio pellentesque commodo, diam.</span>
          </div>
          <div class="decisions__points-item">
            <svg width="20" height="20">
              <use xlink:href="img/sprite.svg#point"></use>
            </svg>
            <span>Fermentum vestibulum est fermentum, egestas gravida scelerisque quis.</span>
          </div>
          <div class="decisions__points-item">
            <svg width="20" height="20">
              <use xlink:href="img/sprite.svg#point"></use>
            </svg>
            <span>At pharetra libero blandit risus, fringilla sed commodo diam.</span>
          </div>
          <div class="decisions__points-item">
            <svg width="20" height="20">
              <use xlink:href="img/sprite.svg#point"></use>
            </svg>
            <span>Integer ultricies viverra ut enim viverra ut.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
