<section class="details">
	<div class="container">
		<div class="details__inner">
			<form class="details__form">
				<h3 class="details__title">A quick way to discuss details</h3>
				<label class="details__lable">
					<span>Name*</span>
					<input class="question__input details__input" name="name" placeholder="Your phone number" type="text">
				</label>
				<label class="details__lable">
					<span>Phone*</span>
					<input class="question__input details__input" name="phone" placeholder="Your phone number" type="tel">
				</label>
				<label class="details__lable">
					<span>Email</span>
					<input class="question__input details__input" name="email" placeholder="Your working email" type="email">
				</label>
				<label class="details__lable">
					<span>Message*</span>
					<textarea class="question__input details__input details__input-large" name="message" placeholder="Your message"></textarea>
				</label>
				<label class="castom-checkbox">
					<input type="checkbox" class="custom-checkbox__input">
					<!-- <svg>
						<use xlink:href="img/sprite.svg#check"></use>
					</svg> -->
					<span class="custom-checkbox__text">I agree to receive communications from Createx Construction Bureau.</span>
				</label>
				<button class="btn__regular" type="submit">Send request</button>
			</form>
		</div>
	</div>
</section>