<section class="facts">
    <div class="container">
        <div class="figures">
            <div class="figures__title">Some facts and figures</div>
            <div class="figures__content">
                <div class="figures__item">
                    <svg width="148" height="148">
                        <use xlink:href="img/sprite.svg#ellipse-orange"></use>
                    </svg>
                    <svg class="figures__svg" width="148" height="148">
                        <use xlink:href="img/sprite.svg#ellipse"></use>
                    </svg>
                    <span>98%</span>
                    <p>Totally satisfied clients</p>
                </div>
                <div class="figures__item">
                    <svg width="148" height="148">
                        <use xlink:href="img/sprite.svg#ellipse-pink"></use>
                    </svg>
                    <svg
                        class="figures__svg figures__svg2"
                        width="148"
                        height="148"
                    >
                        <use xlink:href="img/sprite.svg#ellipse"></use>
                    </svg>
                    <span>20</span>
                    <p>Years of experience</p>
                </div>
                <div class="figures__item">
                    <svg width="148" height="148">
                        <use xlink:href="img/sprite.svg#ellipse-blue"></use>
                    </svg>
                    <svg
                        class="figures__svg figures__svg3"
                        width="148"
                        height="148"
                    >
                        <use xlink:href="img/sprite.svg#ellipse"></use>
                    </svg>
                    <span>9452</span>
                    <p>Working hours spent</p>
                </div>
                <div class="figures__item">
                    <svg
                        class="figures__svg figures__svg4"
                        width="148"
                        height="148"
                    >
                        <use xlink:href="img/sprite.svg#ellipse"></use>
                    </svg>
                    <span>100%</span>
                    <p>Succeeded projects</p>
                </div>
            </div>
        </div>
        <div class="news">
            <div class="news__inner">
                <h2 class="news__title">Recent news</h2>
                <div class="news__block">
                    <a href="#">
                        <div class="news__large-item">
                            <img src="img/news/big.jpg" alt="img" />
                            <div class="news__large-content">
                                <h3 class="news__item-title">
                                    How to Build Climate Change-Resilient
                                    Infrastructure
                                </h3>
                                <div class="news__item-bar">
                                    <span>Industry News</span>
                                    <hr />
                                    <span>June 24, 2020</span>
                                    <hr />
                                    <div class="item-bar--coments">
                                        <svg width="16" height="16">
                                            <use
                                                xlink:href="img/sprite.svg#Chat"
                                            ></use>
                                        </svg>
                                        <span>4 comments</span>
                                    </div>
                                </div>
                                <p class="news__item-undertitle">
                                    Ipsum aliquet nisi, hendrerit rhoncus quam
                                    tortor, maecenas faucibus. Tincidunt aliquet
                                    sit vel, venenatis nulla. Integer bibendum
                                    turpis convallis enim, nibh convallis…
                                </p>
                            </div>
                        </div>
                    </a>
                    <div class="news__items">
                        <a href="#">
                            <div class="news__small-item">
                                <img src="img/news/small1.jpg" alt="img" />
                                <div
                                    class="news__large-content news__large-content--small"
                                >
                                    <h3 class="news__item-title">
                                        How Construction Can Help Itself
                                    </h3>
                                    <div
                                        class="news__item-bar news__item-bar--small"
                                    >
                                        <span>Innovation</span>
                                        <hr />
                                        <span>June 12, 2020</span>
                                        <hr />
                                        <div class="item-bar--coments">
                                            <svg width="16" height="16">
                                                <use
                                                    xlink:href="img/sprite.svg#Chat"
                                                ></use>
                                            </svg>
                                            <span>No comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="news__small-item">
                                <img src="img/news/small1.jpg" alt="img" />
                                <div
                                    class="news__large-content news__large-content--small"
                                >
                                    <h3 class="news__item-title">
                                        How Construction Can Help Itself
                                    </h3>
                                    <div
                                        class="news__item-bar news__item-bar--small"
                                    >
                                        <span>Innovation</span>
                                        <hr />
                                        <span>June 12, 2020</span>
                                        <hr />
                                        <div class="item-bar--coments">
                                            <svg width="16" height="16">
                                                <use
                                                    xlink:href="img/sprite.svg#Chat"
                                                ></use>
                                            </svg>
                                            <span>No comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="projects__footer">
                    <div class="projects__text">Explore all new posts</div>
                    <a href="/news.html">
                        <button class="btn__large">View all news</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
