<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__info">
        <div class="footer__info-social">
          <div class="footer__social-logos">
            <a href="#" class="header__logo">
              <svg class="logo-letter logo-letter--ligth" width="105" height="22">
                <use xlink:href="img/sprite.svg#createxletters"></use>
              </svg>
              <svg class="logo-x" width="22" height="22">
                <use xlink:href="img/sprite.svg#createxx"></use>
              </svg>
            </a>
            <div class="footer__social-socials">
              <a href="#">
                <svg width="24" height="24">
                  <use xlink:href="img/sprite.svg#Whatsapp"></use>
                </svg>
              </a>
              <a href="#">
                <svg width="24" height="24">
                  <use xlink:href="img/sprite.svg#Messanger"></use>
                </svg>
              </a>
              <a href="#">
                <svg width="24" height="24">
                  <use xlink:href="img/sprite.svg#Facebook"></use>
                </svg>
              </a>
              <a href="#">
                <svg width="24" height="24">
                  <use xlink:href="img/sprite.svg#Twitter"></use>
                </svg>
              </a>
              <a href="#">
                <svg width="24" height="24">
                  <use xlink:href="img/sprite.svg#YouTube"></use>
                </svg>
              </a>
            </div>
          </div>
          <span class="footer__social-text">Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service. Our mission is to set the highest standards for construction sphere.</span>
        </div>
        <div class="footer__info-contact">
          <h3 class="footer__contact-title">Let’s stay in touch</h3>
          <div class="footer__contact-subscribe">
            <input class="question__input footer__contact-input" name="email" placeholder="Your email address " type="email">
            <button class="btn__regular btn__regular-footer" type="submit">subscribe</button>
          </div>
          <span class="footer__contact-text">*Subscribe to our newsletter to receive communications and early updates from Createx Construction Bureau.</span>
        </div>
      </div>
      <div class="footer__nav">
        <address class="footer__nav-block">
          <h4 class="footer__nav-title">HEAD OFFICE</h4>
          <span class="footer__office-item">
            <span class="footer__office-adress">Addres:</span>
            8502 Preston Rd. Inglewood, New York
          </span>
          <span class="footer__office-item">
            <span class="footer__office-call">Call:</span>
            <a href="tel:4055550128">(405) 555-0128</a>
          </span>
          <span class="footer__office-item">
            <span class="footer__office-email">Email:</span>
            <a href="mailto:hello@createx.com">hello@createx.com</a>
          </span>
        </address>
        <div class="footer__nav-block">
          <h4 class="footer__nav-title">HEAD OFFICE</h4>
          <ul class="footer__nav-list">
            <li class="footer__nav-item"><a href="#" class="footer__nav-link">About Us</a></li>
            <li class="footer__nav-item"><a href="#" class="footer__nav-link">Available Positions</a></li>
            <li class="footer__nav-item"><a href="#" class="footer__nav-link">Contacts</a></li>
          </ul>
        </div>
        <div class="footer__nav-block">
          <h4 class="footer__nav-title">OUR EXPERIENCE</h4>
          <ul class="footer__nav-list">
            <li class="footer__nav-item"><a href="#" class="footer__nav-link">Services</a></li>
            <li class="footer__nav-item"><a href="#" class="footer__nav-link">Work</a></li>
            <li class="footer__nav-item"><a href="#" class="footer__nav-link">News</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__copyright">
        <span>© All rights reserved. Made with</span>
        <svg width="16" height="16">
          <use xlink:href="img/sprite.svg#Heart"></use>
        </svg>
        <span>by Createx Studio</span>
      </div>
    </div>
  </div>
</footer>