<section class="history">
  <div class="container">
    @include('createx-values.html')
      <div class="history__inner">
          <div class="history__title">Our history</div>
            <div class="history__slider">
              <div class="history__slider-item">
                  <img class="history__slider-item__img" src="img/history/1.jpg" alt="img">
                  <p class="history__slider-item__text">Bcelerisque dapibus pharetra nibh semper iaculis duis
                      viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed
                      quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae</p>
              </div>
              <div class="history__slider-item">
                  <img class="history__slider-item__img" src="img/history/2.jpg" alt="img">
                  <p class="history__slider-item__text">Bcelerisque dapibus pharetra nibh semper iaculis duis
                      viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed
                      quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae</p>
              </div>
              <div class="history__slider-item">
                  <img class="history__slider-item__img" src="img/history/3.jpg" alt="img">
                  <p class="history__slider-item__text">Bcelerisque dapibus pharetra nibh semper iaculis duis
                      viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed
                      quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae</p>
              </div>
              <div class="history__slider-item">
                  <img class="history__slider-item__img" src="img/history/4.jpg" alt="img">
                  <p class="history__slider-item__text">Bcelerisque dapibus pharetra nibh semper iaculis duis
                      viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed
                      quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae</p>
              </div>
              <div class="history__slider-item">
                  <img class="history__slider-item__img" src="img/history/5.jpg" alt="img">
                  <p class="history__slider-item__text">Bcelerisque dapibus pharetra nibh semper iaculis duis
                      viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed
                      quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae</p>
              </div>
              <div class="history__slider-item">
                  <img class="history__slider-item__img" src="img/history/6.jpg" alt="img">
                  <p class="history__slider-item__text">Bcelerisque dapibus pharetra nibh semper iaculis duis
                      viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed
                      quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae</p>
              </div>
              <div class="history__slider-item">
                  <img class="history__slider-item__img" src="img/history/7.jpg" alt="img">
                  <p class="history__slider-item__text">Bcelerisque dapibus pharetra nibh semper iaculis duis
                      viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed
                      quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae</p>
              </div>
              <div class="history__slider-item">
                  <img class="history__slider-item__img" src="img/history/8.jpg" alt="img">
                  <p class="history__slider-item__text">Bcelerisque dapibus pharetra nibh semper iaculis duis
                      viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed
                      quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae</p>
              </div>
              <div class="history__slider-item">
                  <img class="history__slider-item__img" src="img/history/9.jpg" alt="img">
                  <p class="history__slider-item__text">Bcelerisque dapibus pharetra nibh semper iaculis duis
                      viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed
                      quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae</p>
              </div>
          </div>
      </div>
  </div>
</section>
