<section class="howwedo">
    <div class="container">
        <div class="howwedo__inner">
            <h2 class="howwedo__title">That’s how we do it</h2>
            <div class="howwedo__block">
                <div class="howwedo__item howwedo__item1 howwedo__item--active">
                    <img src="line.svg" alt="line">
                    <h3 class="howwedo__item-step">01</h3>
                    <h4 class="howwedo__item-title">Work Estimate</h4>
                    <span class="howwedo__item-text">Culpa nostrud commodo ea consequat aliquip reprehenderit.</span>
                </div>
                <div class="howwedo__item howwedo__item2">
                    <img src="line.svg" alt="line">
                    <h3 class="howwedo__item-step">02</h3>
                    <h4 class="howwedo__item-title">Contract</h4>
                    <span class="howwedo__item-text">Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor et tempor.</span>
                </div>
                <div class="howwedo__item howwedo__item3">
                    <img src="line.svg" alt="line">
                    <h3 class="howwedo__item-step">03</h3>
                    <h4 class="howwedo__item-title">Mobilization </h4>
                    <span class="howwedo__item-text">Odio massa scelerisque purus arcu sed velit eleifend cursus leo.</span>
                </div>
                <div class="howwedo__item howwedo__item4">
                    <h3 class="howwedo__item-step">04</h3>
                    <h4 class="howwedo__item-title">Construction Work</h4>
                    <span class="howwedo__item-text">Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.</span>
                </div>
            </div>
        </div>
    </div>
</section>






