<section class="categories">
  <div class="container">
    <div class="categories__inner">
      <h2 class="categories__title">Categories</h2>
      <ul class="categories__nav">
        <li class="categories__nav-item">
          <button class="btn__categories-nav btn__categories-nav--active" data-path="all">All News</button>
        </li>
        <li class="categories__nav-item">
          <button class="btn__categories-nav" data-path="company">Company News</button>
        </li>
        <li class="categories__nav-item">
          <button class="btn__categories-nav" data-path="innovation">Innovation</button>
        </li>
        <li class="categories__nav-item">
          <button class="btn__categories-nav" data-path="industry">Industry News</button>
        </li>
        <li class="categories__nav-item">
          <button class="btn__categories-nav" data-path="tips">Expert Tips</button>
        </li>
        <li class="categories__nav-item">
          <button class="btn__categories-nav" data-path="marceting">Marketing</button>
        </li>
      </ul>
      <ul class="categories__list">
        <li class="categories__list-item categories__list-item--visible" data-target="company" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle1.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="innovation" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle2.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="company" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle3.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="company" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle3.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="company" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle3.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="company" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle3.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="company" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle3.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="company" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle3.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="company" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle3.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="innovation" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle4.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="tips" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle5.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="tips" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle6.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="company" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle1.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="industry" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle1.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
        <li class="categories__list-item categories__list-item--visible" data-target="marceting" data-index="0">
          <a href="#">
            <div class="news__large-item news__middle-item">
              <img src="../img/news/midle1.png" alt="img">
              <div class="news__large-content news__large-content--middle">
                <h3 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h3>
                <div class="news__item-bar">
                  <span>Industry News</span>
                  <hr>
                  <span>June 24, 2020</span>
                  <hr>
                  <div class="item-bar--coments">
                    <svg width="16" height="16">
                      <use xlink:href="img/sprite.svg#Chat"></use>
                    </svg>
                    <span>4 comments</span>
                  </div>
                </div>
                <p class="news__item-undertitle">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <ul class="categories__pagination-list" id="pagination-list">
        <li class="categories__pagination-item">
          <button class="left__button">
            <svg width="24" height="24">
              <use xlink:href="img/sprite.svg#Left"></use>
            </svg>
          </button>
        </li>
        
        <li class="categories__pagination-item">
          <button class="right__button">
            <svg width="24" height="24">
              <use xlink:href="img/sprite.svg#Right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
