<section class="offer">
    <div class="container">
        <div class="offer__inner">
            <img src="img/offer/1.jpg" alt="img">
            <div class="offer__content">
                <div class="offer__title">We offer</div>
                <div class="offer__accordion">
                    <div class="offer__accordion-item">
                        <div class="offer__accordion-item__trigger">
                            <div class="offer__accordion-item__trigger-svg">
                                <svg class="plus" width="24" height="24" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 1C12.5523 1 13 1.44772 13 2V11H22C22.5523 11 23 11.4477 23 12C23 12.5523 22.5523 13 22 13H13V22C13 22.5523 12.5523 23 12 23C11.4477 23 11 22.5523 11 22V13H2C1.44772 13 1 12.5523 1 12C1 11.4477 1.44772 11 2 11H11V2C11 1.44772 11.4477 1 12 1Z" />
                                </svg>
                                <svg class="minus" width="24" height="24" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1 12C1 11.4477 1.44772 11 2 11V12V13C1.44772 13 1 12.5523 1 12ZM22 12L21.9999 13H2V12V11H21.9994L22 12ZM22 12L21.9999 13C22.5522 13 23 12.5523 23 12C23 11.4477 22.5517 11 21.9994 11L22 12Z" />
                                </svg>
                            </div>
                            <div class="offer__accordion-item__trigger-text">Interior design of apartments</div>
                        </div>
                        <div class="offer__accordion-item__content">Adipiscing nunc arcu enim elit mattis eu
                            placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam
                            magna ullamcorper morbi semper massa ac facilisis.</div>
                    </div>
                    <div class="offer__accordion-item">
                        <div class="offer__accordion-item__trigger">
                            <div class="offer__accordion-item__trigger-svg">
                                <svg class="plus" width="24" height="24" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 1C12.5523 1 13 1.44772 13 2V11H22C22.5523 11 23 11.4477 23 12C23 12.5523 22.5523 13 22 13H13V22C13 22.5523 12.5523 23 12 23C11.4477 23 11 22.5523 11 22V13H2C1.44772 13 1 12.5523 1 12C1 11.4477 1.44772 11 2 11H11V2C11 1.44772 11.4477 1 12 1Z" />
                                </svg>
                                <svg class="minus" width="24" height="24" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1 12C1 11.4477 1.44772 11 2 11V12V13C1.44772 13 1 12.5523 1 12ZM22 12L21.9999 13H2V12V11H21.9994L22 12ZM22 12L21.9999 13C22.5522 13 23 12.5523 23 12C23 11.4477 22.5517 11 21.9994 11L22 12Z" />
                                </svg>
                            </div>
                            <div class="offer__accordion-item__trigger-text">Interior design of private houses</div>
                        </div>
                        <div class="offer__accordion-item__content">Adipiscing nunc arcu enim elit mattis eu
                            placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam
                            magna ullamcorper morbi semper massa ac facilisis.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>