<div class="partners__clients-work">
  <div class="container">
    <div class="partners__clients">
      <div class="partners__clients-block">
        <div class="partners__clients-title">What our clients are saying</div>
        <div class="clients__slider">
          <div class="clients__slider-item">
            <div class="wrapper exmpl">
              <img src="img/parthers/persone1.jpg" alt="img">
            </div>
            <div class="clients__item-content">
              <span class="clients__item-text">Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum consequat minim  laboris cillum laboris voluptate minim proident exercitation ullamco.</span>
              <h2 class="clients__item-subtitle">Shawn Edwards</h2>
              <h3 class="clients__item-undertitle">Position, Company name</h3>
            </div>
          </div>
          <div class="clients__slider-item">
            <div class="wrapper exmpl exmpl1">
              <img src="img/parthers/persone2.jpg" alt="img">
            </div>
            <div class="clients__item-content">
              <span class="clients__item-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus quasi, voluptatem facilis placeat culpa ad consectetur corporis incidunt recusandae asperiores dolores earum mollitia animi, in aspernatur beatae ullam eligendi nisi maiores. Ratione suscipit quia officiis unde provident laudantium, maxime ad laborum, voluptatibus labore pariatur ullam eum obcaecati neque necessitatibus libero.</span>
              <h2 class="clients__item-subtitle">King Arthas</h2>
              <h3 class="clients__item-undertitle">Position, Company name</h3>
            </div>
          </div>
        </div>
      </div>
      <img class="partners__clients-img" src="img/parthers/builders.jpg" alt="img">
    </div>
  </div>
</div>
