<section class="pricing">
    <div class="container">
        <div class="pricing__inner">
            <h2 class="pricing__title">Pricing</h2>
            <span class="pricing__text">We offer you three categories of construction.</span>
            <img class="pricing__bg" src="../img/services/services-content-bg.png" alt="img">
            <div class="pricing__table main__shadow">
                <div class="pricing__rows-index">
                    <span class="pricing__index-name-categorites">Items</span>
                    <div class="pricing__index-item">
                        <div class="pricing__index-item-text">
                            <div class="pricing__index-item-title">Basic</div>
                            <div class="pricing__index-item-price">$20 per m2</div>
                        </div>
                    </div>
                    <div class="pricing__index-item">
                        <div class="pricing__index-item-text">
                            <div class="pricing__index-item-title">STANDARD</div>
                            <div class="pricing__index-item-price">$30 per m2</div>
                        </div>
                    </div>
                    <div class="pricing__index-item">
                        <div class="pricing__index-item-text">
                            <div class="pricing__index-item-title">BUSINESS</div>
                            <div class="pricing__index-item-price">$40 per m2</div>
                        </div>
                    </div>
                </div>
                <div class="pricing__rows">
                    <div class="pricing__row pricing__row-gray">
                        <div class="pricing__row-categories">Installation plan</div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="pricing__row pricing__row-white">
                        <div class="pricing__row-categories">Planning solutions (2-3 options)</div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="pricing__row pricing__row-gray">
                        <div class="pricing__row-categories">Lighting plan</div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="pricing__row pricing__row-white">
                        <div class="pricing__row-categories">Flooring plan</div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="pricing__row pricing__row-gray">
                        <div class="pricing__row-categories">Heating floor laying scheme</div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="pricing__row pricing__row-white">
                        <div class="pricing__row-categories">Air conditioner zones layout</div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="pricing__row pricing__row-gray">
                        <div class="pricing__row-categories">3D visualization of all rooms</div>
                        <div class="pricing__row-value">simplified</div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="pricing__row pricing__row-white">
                        <div class="pricing__row-categories">Visualization of each room (3-4 angles)</div>
                        <div class="pricing__row-value"></div>
                        <div class="pricing__row-value"></div>
                        <div class="pricing__row-value">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#Mark"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="pricing__row pricing__row-gray">
                        <div class="pricing__row-categories">Terms</div>
                        <div class="pricing__row-value">10 days</div>
                        <div class="pricing__row-value">20 days</div>
                        <div class="pricing__row-value">30 days</div>
                    </div>
                </div>
                <div class="pricing__rows-buttons">
                    <span class="pricing__index-name-categorites"></span>
                    <div class="pricing__index-item">
                        <button class="btn__small btn__small-transparent">send request</button>
                    </div>
                    <div class="pricing__index-item">
                        <button class="btn__small btn__small-transparent">send request</button>
                    </div>
                    <div class="pricing__index-item">
                        <button class="btn__small btn__small-transparent">send request</button>
                    </div>
                </div>
            </div>
            @include('parthers-supported.html')
        </div>
    </div>
</section>