<section class="projects">
    <div class="container">
        <div class="projects__title">
            Browse our selected projects and learn more about our work
        </div>
        <div class="projects__slider">
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Red Finger Building
                            </div>
                            <div class="projects-item__undertitle">
                                Business Centers
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item projects-item-1">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Cubes Building
                            </div>
                            <div class="projects-item__undertitle">
                                Business Centers
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item projects-item-2">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                The Pencil Building
                            </div>
                            <div class="projects-item__undertitle">
                                Stores & Malls
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item projects-item-3">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Home Architecture
                            </div>
                            <div class="projects-item__undertitle">
                                One Tower
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
        </div>
        <div class="projects__footer">
            <div class="projects__text">Explore all our works</div>
            <a href="/work.html">
                <button class="btn__large">View portfolio</button>
            </a>
        </div>
    </div>
</section>
