<div class="services__hero">
    <div class="container">
        <div class="services__hero-inner">
            <div class="services__hero-breadcrumbs">
                <p>Homepage</p><span>/</span><span>Services</span>
            </div>
            <div class="services__hero-txtcontent">
                <h1 class="services__hero-title">Services</h1>
                <p class="services__hero-text">If you are looking for a full-service construction company, look to Createx Construction Bureau. We are doing our best to be a partner for all of your construction needs.</p>
            </div>
        </div>
    </div>
</div>