<div class="services__hero services__hero-design">
    <div class="container">
        <div class="services__hero-inner">
            <div class="services__hero-breadcrumbs">
                <p>Homepage</p><span>/</span><p>Services</p><span>/</span>Interior Design
            </div>
            <div class="services__hero-txtcontent">
                <h1 class="services__hero-title">Interior design</h1>
                <p class="services__hero-text">Dui augue nec mi mi. Ut ac lectus donec fames pellentesque. Laoreet aenean vulputate elementum blandit amet.</p>
            </div>
            <img class="services__hero-design-img" src="../img/services/background-services-1.jpg" alt="img">
        </div>
    </div>
</div>
