<section class="projects">
    <div class="container">
        <div class="projects__title">Related projects</div>
        <div class="projects__slider">
            <div class="slick-item">
                <div class="projects-item services-1-projects-item1">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Kids Bedroom With Decorations</div>
                        <div class="projects-item__undertitle">Apartments & flats</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="slick-item">
                <div class="projects-item services-1-projects-item2">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Modern Double Bedroom</div>
                        <div class="projects-item__undertitle">Apartments & flats</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="slick-item">
                <div class="projects-item services-1-projects-item3">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Scandinavian Style Interior</div>
                        <div class="projects-item__undertitle">Private houses</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="slick-item">
                <div class="projects-item services-1-projects-item4">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Minimalistic interior design</div>
                        <div class="projects-item__undertitle">Apartments & flats</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
        </div>
        <div class="projects__footer">
            <div class="projects__text">Explore all our works</div>
            <button class="btn__large">View portfolio</button>
        </div>
    </div>
</section>