<div class="statistic__aboutus">
  <div class="container">
    <div class="statistic__aboutus-inner">
      <div class="statistic__aboutus-values">
        <div class="statistic__item">
          <svg width="48" height="48">
            <use xlink:href="img/sprite.svg#quality"></use>
          </svg>
          <h2 class="statistic__item-value">60%</h2>
          <span>Clients on the recommendation of friends</span>
        </div>
        <div class="statistic__item">
          <svg width="48" height="48">
            <use xlink:href="img/sprite.svg#5tabsico"></use>
          </svg>
          <h2 class="statistic__item-value">2400+</h2>
          <span>Apartments renovated</span>
        </div>
        <div class="statistic__item">
          <svg width="48" height="48">
            <use xlink:href="img/sprite.svg#workers"></use>
          </svg>
          <h2 class="statistic__item-value">670</h2>
          <span>Qualified specialists</span>
        </div>
        <div class="statistic__item">
          <svg width="48" height="48">
            <use xlink:href="img/sprite.svg#4tabsico"></use>
          </svg>
          <h2 class="statistic__item-value">150000+<sup> m2</sup></h2>
          <span>Finishing work was carried out</span>
        </div>
      </div>
      <div class="statistic__aboutus-phrase">
        <img src="../img/services/phrase.jpg" alt="img">
        <div class="statistic__phrase-block main__shadow">
          <div class="statistic__phrase-block-inner">
            <div class="statistic__phrase-block-text">
              <svg width="28" height="20">
                <use xlink:href="img/sprite.svg#braces"></use>
              </svg>
              <h3>Dapibus nec vitae ante mattis. Aliquam phasellus ac dui augue in. Sed aliquet in egestas hac at proin sed quam. Etiam aliquet sagittis non, massa cum pulvinar. Et in leo, tempus purus vestibulum ut blandit et mi. Odio massa purus vel praesent arcu enim elit felis viverra.<br><br>Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra quis metus amet eleifend amet. Vet suspendisse faucibus tempor ipsum integer. </h3>
            </div>
            <div class="statistic__phrase-block-initials">
              <div class="statistic__phrase-block-fullname">
                <h4>Courtney Alexander</h4>
                <span>CEO - Createx Construction Bureau</span>
              </div>
              <svg width="100" height="68">
                <use xlink:href="img/sprite.svg#signature"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <img class="statistic__aboutus-bg" src="../img/services/services-content-bg.png" alt="img">
    </div>
  </div>
</div>
