<section class="projects work-target-projects">
    <div class="container">
        <div class="projects__title">Similar projects</div>
        <div class="projects__slider">
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item work-target-projects-item1">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Luxury Beach House
                            </div>
                            <div class="projects-item__undertitle">
                                Private houses
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item work-target-projects-item2">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Brown and Gray Painted House
                            </div>
                            <div class="projects-item__undertitle">
                                Private houses
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item work-target-projects-item3">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Scandinavian Style Interior
                            </div>
                            <div class="projects-item__undertitle">
                                Private houses
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item work-target-projects-item4">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Kids Bedroom With Decorations
                            </div>
                            <div class="projects-item__undertitle">
                                Apartments & flats
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item work-target-projects-item5">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Cubes Building
                            </div>
                            <div class="projects-item__undertitle">
                                Business Centers
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item work-target-projects-item6">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Minimalistic interior design
                            </div>
                            <div class="projects-item__undertitle">
                                Apartments & flats
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item work-target-projects-item7">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Modern Cottage
                            </div>
                            <div class="projects-item__undertitle">
                                Private houses
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item work-target-projects-item8">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                The Pencil Building
                            </div>
                            <div class="projects-item__undertitle">
                                Stores & Malls
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item work-target-projects-item9">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Red Finger Building
                            </div>
                            <div class="projects-item__undertitle">
                                Business Centers
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item work-target-projects-item10">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Large country house
                            </div>
                            <div class="projects-item__undertitle">
                                Private houses
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item work-target-projects-item11">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Modern Double Bedroom
                            </div>
                            <div class="projects-item__undertitle">
                                Apartments & flats
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
            <div class="slick-item">
                <a href="/work-target.html">
                    <div class="projects-item work-target-projects-item12">
                        <div class="projects-item__text">
                            <div class="projects-item__subtitle">
                                Home Architecture
                            </div>
                            <div class="projects-item__undertitle">
                                One Tower
                            </div>
                        </div>
                        <button
                            class="btn__regular btn__regular-transparent btn__regular-transparent--progect"
                        >
                            View Project
                        </button>
                    </div>
                </a>
            </div>
        </div>
        <div class="projects__footer">
            <div class="projects__text">Explore all our works</div>
            <a href="/work.html">
                <button class="btn__large">View portfolio</button>
            </a>
        </div>
    </div>
</section>
