<section class="work">
    <div class="container">
        <div class="work__header">
            <div class="work__breadcrumb">
                <p>Homepage</p><span>/</span>
                <p><span>Work</span></p>
            </div>
            <h1 class="work__header-title">OUR WORK</h1>
            <h1 class="work__header-text">Our portfolio represents 20 years of construction experience backed by a
                passion for perfect client service, quality and innovations in consctuction industry.</h1>
            <ul class="work__tabs-nav">
                <li class="work__tabs-nav-item">
                    <button class="work__tabs-item-btn work__tabs-item-btn--active" data-path="all">
                        <svg>
                            <use xlink:href="img/sprite.svg#1tabsico"></use>
                        </svg>
                        <span>All Projects</span>
                    </button>
                </li>
                <li class="work__tabs-nav-item">
                    <button class="work__tabs-item-btn" data-path="constr">
                        <svg>
                            <use xlink:href="img/sprite.svg#2tabsico"></use>
                        </svg>
                        <span>Construction</span>
                    </button>
                </li>
                <li class="work__tabs-nav-item">
                    <button class="work__tabs-item-btn" data-path="dev">
                        <svg>
                            <use xlink:href="img/sprite.svg#3tabsico"></use>
                        </svg>
                        <span>Project Development</span>
                    </button>
                </li>
                <li class="work__tabs-nav-item">
                    <button class="work__tabs-item-btn" data-path="design">
                        <svg>
                            <use xlink:href="img/sprite.svg#4tabsico"></use>
                        </svg>
                        <span>Interior Design</span>
                    </button>
                </li>
                <li class="work__tabs-nav-item">
                    <button class="work__tabs-item-btn" data-path="repair">
                        <svg>
                            <use xlink:href="img/sprite.svg#5tabsico"></use>
                        </svg>
                        <span>Repairs</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="work__portfolio">
            <div class="work-slick-item work-slick-item--visible" data-target="constr">
                <div class="projects-item portfolio-item-1">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Cubes Building</div>
                        <div class="projects-item__undertitle">Business Centers</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="work-slick-item work-slick-item--visible" data-target="dev">
                <div class="projects-item portfolio-item-2">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Modern Cottage</div>
                        <div class="projects-item__undertitle">Private houses</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="work-slick-item work-slick-item--visible" data-target="dev">
                <div class="projects-item portfolio-item-3">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Luxury Beach House</div>
                        <div class="projects-item__undertitle">Private houses</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="work-slick-item work-slick-item--visible" data-target="repair">
                <div class="projects-item portfolio-item-4">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Modern Double Bedroom</div>
                        <div class="projects-item__undertitle">Apartments & flats</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="work-slick-item work-slick-item--visible" data-target="repair">
                <div class="projects-item portfolio-item-5">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Kids Bedroom With Decorations</div>
                        <div class="projects-item__undertitle">Apartments & flats</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="work-slick-item work-slick-item--visible" data-target="constr">
                <div class="projects-item portfolio-item-6">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">The Pencil Building</div>
                        <div class="projects-item__undertitle">Stores & Malls</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="work-slick-item work-slick-item--visible" data-target="constr">
                <div class="projects-item portfolio-item-7">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Red Finger Building</div>
                        <div class="projects-item__undertitle">Business Centers</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="work-slick-item work-slick-item--visible" data-target="design">
                <div class="projects-item portfolio-item-8">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Scandinavian Style Interior</div>
                        <div class="projects-item__undertitle">Private houses</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="work-slick-item work-slick-item--visible" data-target="dev">
                <div class="projects-item portfolio-item-9">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Brown and Gray Painted House</div>
                        <div class="projects-item__undertitle">Private houses</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="work-slick-item work-slick-item--visible" data-target="constr">
                <div class="projects-item portfolio-item-10">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Home Architecture</div>
                        <div class="projects-item__undertitle">One Tower</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="work-slick-item work-slick-item--visible" data-target="dev">
                <div class="projects-item portfolio-item-11">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Large country house</div>
                        <div class="projects-item__undertitle">Private houses</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
            <div class="work-slick-item work-slick-item--visible" data-target="design">
                <div class="projects-item portfolio-item-12">
                    <div class="projects-item__text">
                        <div class="projects-item__subtitle">Minimalistic interior design</div>
                        <div class="projects-item__undertitle">Apartments & flats</div>
                    </div>
                    <button class="btn__regular btn__regular-transparent btn__regular-transparent--progect">View Project</button>
                </div>
            </div>
        </div>
        <button class="load__btn">
            <svg width="24" height="24">
                <use xlink:href="img/sprite.svg#load"></use>
            </svg>
            <span>Load more</span>
        </button>
    </div>
</section>