<div class="work__target">
  <div class="container">
    <div class="work__target-inner">
      <div class="work__target-breadcrumbs">
        <p>Homepage</p><span>/</span>
        <p>Work</p><span>/</span>Modern Cottage
      </div>
      <h1 class="work__target-title">Modern Cottage</h1>
      <img class="work__target-bg" src="../img/services/background-services-1.jpg" alt="img">
      <div class="work__target__slider">
        <div class="work__target__slider-item work__target__slider-item1"></div>
        <div class="work__target__slider-item work__target__slider-item2"></div>
        <div class="work__target__slider-item work__target__slider-item3"></div>
        <div class="work__target__slider-item work__target__slider-item4"></div>
        <div class="work__target__slider-item work__target__slider-item5"></div>
        <div class="work__target__slider-item work__target__slider-item6"></div>
      </div>
      <div class="target__goal">
        <div class="target__goal-content">
          <h2 class="target__goal-title">Project goal</h2>
          <div class="target__goal-text"><p>Build a&nbsp;private house 840&nbsp;sq. feet with a&nbsp;large living room, three bedrooms, two bathrooms, a&nbsp;terrace, a&nbsp;pool and a&nbsp;garage for two cars.</p>
          <br>
          <p>Modern design and care for each family member to&nbsp;feel as&nbsp;comfortable as&nbsp;possible in&nbsp;the new home.</p></div>
        </div>
        <div class="target__goal-info main__shadow">
          <div class="target__goal-info--inner">
            <div class="target__goal-info--property">
              <span>LOCATION</span><span>CLIENT</span><span>ARCHITECT</span><span>SIZE</span><span>VALUE</span><span>COMPLETED</span>
            </div>
            <div class="target__goal-info--value">
              <span>2464 Royal Ln. Mesa, New Jersey</span><span>Darlene Robertson</span><span>HIK Architecture</span><span>840 sq. feet</span><span>$2 million</span><span>May 2020</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
