<section class="worldwide">
  <div class="container">
    <div class="worldwide__inner">
      <h2 class="worldwide__title">We work worldwide</h2>
      <div class="worldwide__map">
        <svg class="worldwide__map-map" width="1195" height="564">
          <use xlink:href="img/sprite.svg#map"></use>
        </svg>
        <svg class="worldwide__canada" width="30" height="30">
          <use xlink:href="img/sprite.svg#canada"></use>
        </svg>
        <svg class="worldwide__usa" width="30" height="30">
          <use xlink:href="img/sprite.svg#usa"></use>
        </svg>
        <svg class="worldwide__germany" width="30" height="30">
          <use xlink:href="img/sprite.svg#germany"></use>
        </svg>
        <svg class="worldwide__ukraine" width="30" height="30">
          <use xlink:href="img/sprite.svg#ukraine"></use>
        </svg>
        <svg class="worldwide__china" width="30" height="30">
          <use xlink:href="img/sprite.svg#china"></use>
        </svg>
        <svg class="worldwide__australia" width="30" height="30">
          <use xlink:href="img/sprite.svg#australia"></use>
        </svg>
      </div>
      <img class="worldwide__bg" src="../img/services/services-content-bg.png" alt="img">
    </div>
  </div>
</section>
